body {
    background-color: black;
    color: white;
    font-size: 11;
    line-height: 0.9
}
p {
    font-size: 11;
    line-height: 0.9
}
.gallery {
    width: 100%;
    /*border: 1px solid red;*/
    display: block;
    clear: both;
}
.gallery-el {
    display: block;
    float: left;
}
